<div class="container" *ngIf="!loading && product; else loadingOrError">
    <div class="product-detail-card">
        <h2>{{ product.productName }}</h2>
        <p class="price">{{ product.price | currency:'RSD':'symbol' }}</p>
        <p class="condition">Condition: {{ product.condition | conditionLabel }}</p>

        <div class="image-viewer" *ngIf="product.imageUrls?.length">
            <button class="nav-btn left" *ngIf="product.imageUrls.length > 1" (click)="prevImage()">&#10094;</button>

            <div class="image-container" (click)="toggleZoom()">
                <img [src]="'http://localhost:8080' + product.imageUrls[currentImageIndex]"
                    alt="{{ product.productName }}" [class.zoomed]="isZoomed" />
            </div>

            <button class="nav-btn right" *ngIf="product.imageUrls.length > 1" (click)="nextImage()">&#10095;</button>
        </div>

        <div *ngIf="product.imageUrls?.length && product.imageUrls.length > 1" class="thumbnails">
            <img *ngFor="let url of product.imageUrls; let i = index" [src]="'http://localhost:8080' + url"
                [class.active]="i === currentImageIndex" (click)="setImage(i)" />
        </div>

        <p class="description">{{ product.description }}</p>
        <p *ngIf="product.categoryName">Category: {{ product.categoryName }}</p>
        <p *ngIf="product.ageSexGroup">Target group: {{ product.ageSexGroup }}</p>

        <div class="actions">
            <button class="buy-btn" (click)="buyProduct()" [disabled]="product.sold">{{ !product.sold ? 'Buy' : 'Product
                sold' }}</button>

            <!-- ❤️ Favourites button -->
            <button class="fav-btn" [ngClass]="{ 'liked': isProductLiked }" (click)="toggleFavourite()">
                {{ isProductLiked ? '❤️ Favourite product' : '♡ Add to Favourites' }}
            </button>
        </div>
    </div>
</div>

<ng-template #loadingOrError>
    <p *ngIf="loading">Loading product...</p>
    <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
</ng-template>