<div class="dashboard-container">
    <h2>Admin Dashboard</h2>

    <div class="card">
        <p>Welcome back, Admin!</p>
        <p>Use the tools below to manage products and users.</p>
    </div>

    <div class="actions">
        <button routerLink="/admin/add-product" class="btn">Add New Product</button>
        <button routerLink="/admin/products" class="btn">View All Products</button>
        <button routerLink="/admin/users" class="btn">Manage Users</button>
        <button routerLink="/admin/add-category" class="btn">Add Categories</button>

    </div>
</div>